.container-featured {
  /* border: solid 1px #e6e6e6; */
  /* width: 80%; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 20px;
}

.big-card-img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin: auto;
}

.big-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px;
  max-width: 80%;
  text-align: center;
}



.big-card-description > p > a{

  color: rgb(141, 141, 141);
  max-width: 70%;
  text-align: center;


}

@media screen and (max-width: 768px) {
  .container-featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px;
    padding: 10px;
  }
  .big-card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 25px;
    max-width: 80%;
    text-align: center;
  }

  .big-card-description {
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto;
    max-width: 80%;
    text-align: center;
  }
  .big-card-description > p > a{
    color: rgb(141, 141, 141);
    max-width: 70%;
    text-align: center;
    font-size: 1.2rem;
    margin: 25px;
  }
  .big-card-img {
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
}

@media screen and (max-width: 550px) {
  .container-featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 10px;
  }
  .big-card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px;
    max-width: 80%;
    text-align: center;
  }
  .big-card-description > p > a{
    color: rgb(141, 141, 141);
    max-width: 70%;
    text-align: center;
  }
  .big-card-img {
    width: 60%;
    height: 60%;
  }
}

