.container__menu-title > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 7.25rem;
  font-weight: 800;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #fff;
  ;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
  .container__menu-title > h1 {
    font-size: 5.25rem;
  }

}
